[ req ]
default_bits		= 2048
default_md		= sha256
distinguished_name	= req_distinguished_name
x509_extensions = v3_req

[ policy_match ]
commonName              = optional
countryName             = optional
emailAddress            = optional

[ req_distinguished_name ]
countryName			= Country Name (2 letter code)
commonName			= Common Name (eg, fully qualified host name)
emailAddress			= Email Address

[v3_req]
keyUsage = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1   = badsubject

